body {
    font-family: 'Arima Madurai', cursive ;
    font-size: 18px ;
    color: lightseagreen; 
    background-color: antiquewhite

}

h1 {
    font-family: font-family: 'Cormorant Unicase', serif;
    font-size: 50px ;
    color: black ;
    background-color: aquamarine ;
}

h2 {
    font-family: Garamond ;
    font-size: 40px ;
    font-color: black ;
    border: 4px dotted white ;
    background-color: aqua ;
    margin: 2px 
}

figure {
    border: 2px dotted purple ;


    /*                border-style: dotted ;*/
}

.contact {
    font-family: 'Cormorant Unicase', serif;
    font-size: 30px ;
    color: black ;
    background-color: aquamarine
}